/* HTML elements */
body { background: #665874 url('/images/body.png'); line-height: 150%; }
td { vertical-align: middle; padding: 5px;}
tr.odd { background: #fff;}
form input[type=text] { height: 24px; font-size: 1em; margin: 5px 0; color: #454545; padding: 5px; }
form p { margin-bottom: 15px; }
form li { margin: 0; list-style: none;}
form ol, form ul { list-style: none;}

/* IDs */
#wrapper { margin-top: 30px; background: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
#header, #content, #footer { margin-bottom: 15px;}
ul#controls { list-style: none; }
ul#controls li { float: left; margin-right: 10px;}

/* CLASSES */
.sample { width: 30px; height: 30px; float: left; margin-right: 15px; border: 1px solid #333; }
.ui-widget { font-size: 0.75em;}
.dataTables_wrapper .ui-widget-header { font-weight: normal; font-size: 0.8em;}
.onecolumn-only { width: 940px;}
.twothirds { width: 700px;}
.onethird { width: 240px;}
.hovercontrols { float: right; width: 300px;}
.hovercontrols .ui-widget { font-size: 0.55em; margin-top: 5px;}
.dataTables_wrapper { margin-bottom: 20px;}
.moredata { font-size: 0.7em; margin-left: 20px;}
.notice { margin-bottom: 15px; }
.notice .ui-corner-all { padding: 12px 8px; }

.field_with_errors { padding: 2px 5px; margin: 0 0 10px 0;}

