<h2><%= @company.name %> &raquo; Agregar Booth</h2>

<% form_for [@company, @reservation] do |f| %>
	<p>
		<%= f.label "Booth" %><br />
		<%= f.text_field :booth_number %>
	</p>	
	<p><%= f.submit "Listo", :class => 'as_button' %></p>
<% end %>