<p>Bienvenid@ <%= @resource.email %>!</p>

<p>Puede confirmar su cuenta mediante el enlace que aparece abajo:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
