<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar su password, y puede hacerlo haciendo click en el enlace que aparece abajo.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no solicito este movimiento, por favor ignore este correo.</p>
<p>Su password no cambiara a menos que usted accese el enlace que aparece arriba y cree un nuevo password.</p>
